:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.mat-card {
    align-items: center;
}

.mat-form-field {
    width: 100%;
    min-width: 400px;
}

.mat-card-title {
    display: flex;
    justify-content: center;
}