<mat-card>
    <mat-card-title>Login</mat-card-title>

    <mat-card-content>
        <form action="" [formGroup]="form" (ngSubmit)="onSubmit()">
            <p>
                <mat-form-field>
                    <input type="email" matInput formControlName="email" placeholder="email@email.com" required>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="password" matInput formControlName="password" placeholder="Password" required>

                    <mat-hint>
                        CAUTION: Do not reuse any of your existing password
                    </mat-hint>

                    <mat-error *ngIf="form.controls['password'].hasError('required')">
                        Password is required
                    </mat-error>

                    <mat-error *ngIf="form.controls['password'].hasError('minlength')">
                        Password should contain at least 10 characters
                    </mat-error>
                </mat-form-field> 
            </p>
            <p>
                <button type="submit" mat-raised-button color="primary">Login</button>
            </p>
            <p>
                <a mat-button>Forgot password?</a>
            </p>
        </form>
    </mat-card-content>
</mat-card>